@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --pink: #ff7979;
}

body {
  margin: 0;
  /* background image from purple to light purple */
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-search {
  display: flex;
  width: max-content;
}

.input-container {
  transition: all .3s ease;
  display: flex;
  max-width: 0;
  overflow: hidden;
}

.input-container.active {
  max-width: 250px;
}

.input-search {
  font-size: 1.125rem;
  outline: transparent;
  border: none;
  transition: all .3s ease;
  max-width: 100%;
  padding: .75rem .5rem;
}

.label-container {
  background-color: white;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .label-search {
} */
