@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

body {
  margin: 0;
  background-color: #333;
  font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  background-color: #fafafa;
}

.container {
  width: 75%;
  max-width: 1200px;
  margin: auto; 
  padding: 5rem 0;
}

h1 {
  margin: 0;
}

img {
  max-width: 100%;
}

.btn-menu {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 164px;
  height: 164px;
  border-radius: 50%;
  display: flex;
  align-items: stretch;
}

.btn-icon {
  display: flex;
  justify-content: center;
}

.btn-icon:nth-child(1) {
  flex: 1;
  align-items: center;
  padding: 0 0 70px 12px;
}

.btn-icon:nth-child(2) {
  flex: 1;
  align-items: center;
  padding: 70px 12px 0 0;
}
