@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --pink: #ff7979;
}

body {
  margin: 0;
  background-color: #333;
  font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden auto;
}

main {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform .3s ease;
}

main.active {
  transform: rotate(-24deg);
}

.container {
  width: 75%;
  max-width: 1200px;
  margin: auto; 
  padding: 5rem 0;
}

h1 {
  margin: 0;
}

img {
  max-width: 100%;
}

.btn-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  /* transform-origin: center center; */
  width: 164px;
  height: 164px;
  border-radius: 50%;
  display: flex;
  align-items: stretch;
  transition: transform .3s ease;
  border: none;
  background-color: var(--pink);
}

.btn-menu.active {
  transform: translate(-50%, -50%) rotate(180deg);
}

.btn-icon {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: stretch;
}

.btn-icon:nth-child(1) {
  padding: 0 0 70px 12px;
}

.btn-icon:nth-child(2) {
  padding: 70px 12px 0 0;
}

.btn-icon span {
  display: flex;
  align-items: center;
}

.sidenav {
  position: fixed;
  bottom: 0;
  left: 0;
  transition: transform .3s ease;
  transform: translate(-100%, 0);
}

.sidenav.active {
  transform: translate(0, 0);
}

.sidenav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding-bottom: 72px;
}

.sidenav-item {
  color: #fff;
  font-size: 1.25rem;
  text-transform: uppercase;
  transition: transform .3s ease;
}

.sidenav.active .sidenav-list .sidenav-item:nth-child(2) {
  transition-delay: .10s;
  transform: translate(16px, 0);
}

.sidenav.active .sidenav-list .sidenav-item:nth-child(3) {
  transition-delay: .15s;
  transform: translate(32px, 0);
}

.sidenav-item span {
  vertical-align: middle;
}
